.hero {
  color: red;
  position: relative;
}



.hero-img {
  filter: grayscale(50%);
  z-index: 5;
}


@media only screen and (max-width: 600px) {
  h1 {
    
    font-size: 64px;
    display: flex;
    justify-content: center;
  }