 <footer class="footer">
        
        <div class="imagefooter">
          <img class="footerimage" src="../images/logo.png" alt="logo">
        </div>
        
        <div class="footername">
          <p>RUSTICA</p>
          <p class="footername2">Cafe und Rösterei</p>
        </div>
        
        <div class="adress-opening">
        <div class="footer-adress">
          <p>Komm uns besuchen!</p>
          <p>Fraunhoferstraße 13, Kiel</p>
        </div>
        

        <div class="footer-opening">
          <p>Mo-Fr 8-18 Uhr</p>
          <p>Sa 11-18 Uhr</p>
        </div>

      </div>

        <div class="rechtliches-div">
          <div class="impressum-div">
            <p>Impressum</p>
            <p>Datenschutz</p>
          </div>
          
          
  
          <div class="links-div">
            <p>Café</p>
            <p>Shop</p>
            <p>Herkunft</p>
          </div>

        </div>




      </footer>   