     <header class="cafe__header">
        
      
     <div class="topnav">
  <img class="logo" src="../images/logo.png">
  <img class="burger-menu" src="../images/Burger Menu.png">
   
     <div class="desktopnav">
           
           <a class="desktopnav__item" href="Warenkorb"><img class="desktopnav__img" src="../images/warenkorb.png"></a>
           <a class="desktopnav__item" href="#home">Shop</a>
           <a class="desktopnav__item" href="#news">Herkunft</a>
           <a class="desktopnav__item" href="../sub-page/cafe.html">das Cafe</a>
           
          

     </div>
      </div>
     


       
      </header>