  <div class="section3">
    <div class="Sorten">
      <p class="h2sorten">Entdecke unsere Kaffee Sorten</p>
    </div>

    <div class="rows">

      
      <div class="C">
        <div class="backgroundsorte">
        <img class="sorte__image" src="../images/FEND_Coffee_Costa-Rica 2.png" alt="Costaricasorte">
        </div>
        <p class="titel-produkt">Costa Rica</p>
        <p class="price-product">6,90€ - 26,90€</p>
        <img src="../images/Icon Kaffee Bohnen.png" alt="Bohnenillu">
        <img src="../images/Icon French Press.png" alt="frenchpressillu">
        <img src="../images/Icon Kaffee Schaufel.png" alt="schaufelillu">
      </div>
      

      <div class="C">
        <div class="backgroundsorte">
        <img class="sorte__image" src="../images/FEND_Coffee_Costa-Rica 2.png" alt="Costaricasorte">
        </div>
        <p class="titel-produkt">Costa Rica</p>
        <p class="price-product">6,90€ - 26,90€</p>
        <img src="../images/Icon Kaffee Bohnen.png" alt="Bohnenillu">
        <img src="../images/Icon French Press.png" alt="frenchpressillu">
        <img src="../images/Icon Kaffee Schaufel.png" alt="schaufelillu">
      
      </div>
      

      

      <div class="C">
        <div class="backgroundsorte">
        <img class="sorte__image" src="../images/FEND_Coffee_Costa-Rica 2.png" alt="Costaricasorte">
        </div>
        <p class="titel-produkt">Costa Rica</p>
        <p class="price-product">6,90€ - 26,90€</p>
        <img src="../images/Icon Kaffee Bohnen.png" alt="Bohnenillu">
        <img src="../images/Icon French Press.png" alt="frenchpressillu">
        <img src="../images/Icon Kaffee Schaufel.png" alt="schaufelillu">
      
      </div>
      
      

      <div class="C">
        <div class="backgroundsorte">
        <img class="sorte__image" src="../images/FEND_Coffee_Costa-Rica 2.png" alt="Costaricasorte">
        </div>
        <p class="titel-produkt">Costa Rica</p>
        <p class="price-product">6,90€ - 26,90€</p>
        <img src="../images/Icon Kaffee Bohnen.png" alt="Bohnenillu">
        <img src="../images/Icon French Press.png" alt="frenchpressillu">
        <img src="../images/Icon Kaffee Schaufel.png" alt="schaufelillu">
      
      </div>

      
      


    </div>

    <div class="row3">

    <button class="secondbutton" type="button">alle Produkte</button> 
   
    </div>
    </div>