body {
  background:#E5E5E5;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header { 
    height: 70vh;
    background-image: url(../images/coffee.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header a {
  text-decoration: none;
}


ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 150px;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-top: 18px;
  margin-right: 69px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

ul li:hover {
  text-decoration: underline;
  transition: 0.3s;
}


#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}


.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
  float: right;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }
  }

  #hamburger-icon {
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
  }







/* Kaffee Logo Desktop Version */


.logo { 
 height: 27px;
 position: absolute;
 left: 113px;
 top: 17px;
 
}


/* Kaffee Logo Mobil Version */

@media only screen and (max-width: 600px) {
  .logo {
 height: 35px;
 position: absolute;
 left: 24px;
 top: 10px;

}


.textbox { 
  position: relative;
  top: 40%;
  left: 40%;
  max-width: 218px;
  
  
}

@media only screen and (max-width: 600px) {
  .textbox {
    position: relative;
    justify-content: center;
    top: 40%;
    left: 20%;
    max-width: 218px;
  }

}


.title { 
 color: white;
 flex-wrap: wrap;
 
}

/* H1 Startseite Desktop Version */
.hero-title { 
  display: block;
  font-size: 96px;
  font-weight: 900;
  font-family: 'Roboto';
  max-width: 218px;
  
}

/* H1 Startseite Logo Mobile Version */

@media only screen and (max-width: 600px) {
.hero-title { 
  display: block;
  font-size: 64px;
  font-weight: 900;
  font-family: 'Roboto';
  max-width: 218px;
  
}
}

.hero-title-sub { 
display: block;
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
flex-wrap: wrap;
}

.twocolumns {
  display: flex;
}




h1{ 
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.mainbutton { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 50px;
  
 
  position: absolute;
  width: 163px;
  height: 48px;
  left: 106px;
  top: 392px;
  
  
  background: #1A1A1A;
  color: white;
  border: 2px solid #1A1A1A;
  box-sizing: border-box;
  border-radius: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  .mainbutton { 
position: absolute;
width: 163px;
height: 48px;
left: 106px;
top: 392px;

}
}


/* Section 1 Startseite mobil Version */

.section1 {
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
}

.text-title {

margin-top: 60px;
margin-left: 24px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 34px;
 }

.normal-caption { 

  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;

}


.zeiten { 
  flex-grow: 1;
  margin-left: 24px;
  margin-top: 10px;
}


.zeiten2 { 
  flex-grow: 1;
  margin-top: 10px;
  margin-left: 17px;
}

.cafe-foto { 
  margin-top: 40px;
  margin-right:24px;
  display: flex;
  justify-content: flex-end;
  
}

.cafe { 
  align-self: flex-end;
}


/* Section 2 Startseite mobil Version */


.text-title2 {
  margin-top: 40px;
  margin-left: 24px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 34px;
  }


.normal-caption2 { 

  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;

}


.cafe-foto2 { 
  margin-top: 40px;
  margin-left: 24px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 63px ;
}

.cafe2 { 
  align-self: flex-end;

}



.h2sorten { 
  color: white;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px ;
  line-height: 34px;
  margin-top: 60px;
}


.section3 { 
  background-color: black;
  color: white;
  
}

.Sorten {
  color: white;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 34px;
  margin-left: 21px;
  margin-bottom: 40px;

}

.backgroundsorte { 
  background-color: white;
}

.row1 { 
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-bottom: 43px;
}

.CostaRica1 { 
  flex-grow:1 ;
  max-width: 155px;
  margin-left: 24px;
  
}

.titel-produkt { 
  margin-top: 11px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

}

.price-product { 
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #737373;
}

.CostaRica2 { 
  flex-grow:1 ;
  max-width: 155px;
  margin-right: 24px;
  
}

.row2 { 
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.CostaRica3 { 
  flex-grow:1 ;
  max-width: 155px;
  margin-left: 24px;

}

.CostaRica4 { 
  flex-grow:1 ;
  max-width: 155px;
  margin-right: 24px;
}


.row3 {
  justify-content: center;
  display: flex;
  margin-top: 44px;
 
}
.secondbutton {

  background-color: black;
  color: white;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  width: 182px;
  height: 48px;
  justify-content: center;
  margin-bottom: 60px;
}

/* Section 4 Startseite mobil Version */

.section4 { 

display: flex;
color: white;
background-image: url(../images/FEND-Coffee-bags-2.png);
flex-direction: column;
height: 332px;

}

.Herkunft {
 max-width: 129px;
 margin-top: 87px;
 margin-left: 124px;
 font-family: Roboto;
 font-style: normal;
 font-weight: 900;
 font-size: 32px;
 line-height: 37px;



}

.herkunft-text {
  text-align: center;
  max-width: 241px;
  margin-left: 68px;
  margin-top: 12px ;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.mehr {
  text-align: center;
  max-width: 241px;
  margin-left: 68px;
  margin-top: 12px ;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}


/* Section 5 Startseite mobil Version */

.section5 { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.inhalt { 
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 34px;
text-align: center;
margin-top: 60px ;
}

.inhalt-img { 
  width: 214px;
  height: 284px;
  margin-top: 35px;
  margin-left: 65px;
}

/* Section 6 Startseite mobil Version */
.shopbutton { 
  display: flex;
  justify-content: center; 
  margin-left: 106px;
  margin-top: 40px;

}

.section9 { 
  margin-top: 72px;
  margin-bottom: 35px;
  margin-left: 24px;
  

}

.ort{ 

margin-top: 72px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 34px;
}


.footer   { 
  background-color: black;
  color: white;
  
  
}

.img-footer-div { 
  padding-top: 61px;
  margin-left: 26px;
}

.img-footer { 
  
  width: 35px;
  height: 35px;
}

.footer-name { 

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;
margin-left: 26px;
margin-top: 15px;
margin-bottom: 34px ;

}

.footer-name-2 { 

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  
  }

.adress-opening { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 24px ;
  
  margin-right: 24px;
  padding-bottom:34px;
}




.rechtliches-div { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 24px ;
  
  margin-right: 60px;
  padding-bottom: 51px;
}