:root {
  /* Colors */
  --div-color: red;

  /* Text Styles */
  
 

  --h1-font-family: Roboto;
  --h1-font-style: normal;
  --h1-font-weight: 900;
  --h1-font-size: 96px;
  --h1-line-height: 110px;
/* or 115% */
